<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <script src="https://kit.fontawesome.com/f25d8c8b5a.js" crossorigin="anonymous"></script>
</head>

<h1>Register</h1>
<%- include ('../partials/messages') %>
<form action = "/users/register" method="POST">
    <div>
        <label for="first_name">First Name</label>
        <input type="name" name="first_name" id="first_name" placeholder="Enter first name" value="<%= typeof first_name != 'undefined' ? first_name : '' %>">
    </div>
    <div>
        <label for="last_name">Last Name</label>
        <input type="name" name="last_name" id="last_name" placeholder="Enter last name"
            value="<%= typeof last_name != 'undefined' ? last_name : '' %>">
    </div>
   <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Enter Email" value="<%= typeof email != 'undefined' ? email : '' %>">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter Password" value="<%= typeof password != 'undefined' ? password : '' %>">
    </div>
    <div>
        <label for="password2"> Confirm Password</label>
        <input type="password" name="password2" id="password2" placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Register</button>
</form>
<p>Have an Account? <a href="/users/login">Login</a></p>